@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
  max-width: 100%;


}
@media (max-width:768px){

  nav{
    max-width: 96%;

  }

  
}
@media (min-width:768px) and (max-width:1024px){

  nav{
    max-width: 60%;
    margin: auto;
  }


  }


@media (min-width:1024px) and (max-width:1366px){

  nav{
    max-width: 100%;
    margin: auto;

  }


}
.text p{
  animation-duration: 40s;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move{
  0%{
    transform: translateX(0%);
  }
  25%{
    transform: translateX(30%);

  }
  50%{
    transform: translateX(0%);

  }
  75%{
    transform: translateX(30%);

  }
  100%{
    transform: translateX(0%);

  }
}
h2{
  font-family: "Alkalami", serif;

}
.icon{
  transition: 0.5s;
}
.icon:hover{
  scale: 1.05;
}
.borderstyle{
  border: 2px solid rgb(47, 121, 207);
}
body{
  transition: 0.6s;
}
#border{
  border: 2px solid cornflowerblue;
  width: 24%;
  margin: auto;
  position: absolute;
  right: 10%;
}
#border2{
  border: 2px solid rgb(54, 196, 144);
  width: 24%;
  margin: auto;
  position: absolute;
  right: 10%;
}
#border3{
  border: 2px solid rgb(216, 209, 17);
  width: 24%;
  margin: auto;
  position: absolute;
  right: 10%;
}
#border4{
  border: 2px solid rgb(249, 178, 55);
  width: 24%;
  margin: auto;
  position: absolute;
  right: 10%;
}
#Country p{
  user-select: none;
}


#Card{
  z-index: 900;
}
#Countrys{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;

}
#CountrysPlan{
  display: grid;
  grid-template-columns: 1fr 1fr  ;


}
@media (min-width:820px) and (max-width:1180px){
  #Countrys{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  
  }

}
@media (min-width:768px) and (max-width:1024px){
  #Countrys{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  
  }


}
@media (max-width:768px){

  #Countrys{
    display: grid;
    grid-template-columns: 1fr ;
  
  }
  #CountrysPlan{
    display: grid;
    grid-template-columns: 1fr ;
  
  }
 
}
@media (min-width:768px) and (max-width:1024px){
  #Countrys{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  
  }
  #CountrysPlan{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  
  }
}
#TouristInformationSection{
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 100vh;
}
#Cart{
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 100vh;
}
textarea{
  width: 80%;
  height: 200px;
  padding: 10px;
}
textarea,input{
  outline: none;
}
